/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Project Showcase Main
   
   PHCT Typographic Style Sheet
   Author: Christopher Beverley
   Date:   10 JUN 2021
   
   Filename: indexStyles.css

*/


/* Structural Styles */
body
    {
        background-color: moccasin;
    }

footer
    {
        background-color:rgb(121, 94, 49);
        color: white;

    }



/* Navigation Styles */




/* Section Styles */




/* Description List Styles */