@charset "utf-8";

header{
    padding-bottom: 50px;
}

nav.tabs{
    width: 100%;
    float: center;
    list-style: none;
    text-align: center;
  }

.tabs li{
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    ;
}
body{
padding-bottom: 200px;
}

footer{

}