@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Project Showcase Main
   
   PHCT Typographic Style Sheet
   Author: Christopher Beverley
   Date:   10 JUN 2021
   
   Filename: indexStyles.css

*/

/* Structural Styles */
/* HEADER STYLES */
header {
  background-color: #45a29e;
  padding-top: 10px;
  border-radius: 25px;
  color: #1f2833;
}
h1,
h2 {
  text-align: center;
}

.tabs a:link {
  pointer-events: none;
}

/* HTML AND BODY */
html {
  background-color: #1f2833;
}

body {
  background-color: #1f2833;
  border-radius: 25px;
}
.container {
  background-color: #c5c6c7;
  border-radius: 25px;
  padding-bottom: 200px;
}

footer {
  background-color: #45a29e;
  border-radius: 15px;
  text-align: center;
}

/* Navigation Styles */
nav.tabs a {
  color: #1f2833;
}
nav.links a {
  color: #45a29e;
}

nav > ul {
  list-style-type: none;
  line-height: 2em;
  font-size: 1.3em;
}

nav > ul > li > a:link,
nav > ul > li > a:visited {
  text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  color: rgb(212, 35, 35);
}

/* Section Styles */

/* Description List Styles */
