/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Christopher Beverley
   Date:   06JUL2021
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
body {
  width: 95%;
  min-width: 640px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Image Styles */
img {
  display: block;
  width: 100%;
}
/* Horizontal Navigation Styles */
.horizontal li {
  display: block;
  float: left;
  width: 16.66%;
  > a {
    display: block;
  }
}
/* Row Styles */
.newRow {
  clear: both;
  width: 100%;
  ::after {
    clear: both;
    content: "";
    display: table;
  }
}
/* Column Styles */
div[class^="col-"] {
  float: left;
  padding: 2%;
  box-sizing: border-box;
}
.col-1-1,
.col-1-2,
.col-1-3,
.col-2-3,
.col-1-4,
.col-3-4 {
  width: 100%, 50%, 33.33%, 66.67%, 25%, 75%;
}
/* Specials Styles */

/* Award Styles */

/* Footer Styles */
