@media screen and (max-device-width: 600px) {
  div.mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }
  img#mainImg {
    margin-top: 2vw;
    width: 100%;
    border-radius: 10px;
  }
  div.rowOne {
    background-color: #1a1a1a;
    border-radius: 10px;
    color: #fff;
    margin-top: 2vw;
  }
  div.rowOne h2 {
    font-size: 9vw;
  }
  div.rowOne h3 {
    font-size: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 10vw;
  }
  div.rowOne img#orderNow {
    margin-bottom: 5vw;
  }
  div.addToCartScroll {
    display: none;
  }
  div.rowThree {
    background-color: #1a1a1a;
    border-radius: 10px;
    margin-top: 2vw;
    color: #fff;
  }
  div.rowThree h2 {
    font-size: 9vw;
  }
  div.rowThree h3 {
    font-size: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 8vw;
    line-height: 10vw;
  }
  div.rowThree img#orderNow {
    display: none;
  }
  img#dessertImg1 {
    width: 100%;
    border-radius: 10px;
    margin-top: 2vw;
  }
  img#dessertImg2 {
    width: 100%;
    border-radius: 10px;
    margin-top: 2vw;
  }
  div.rowFour {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    margin-top: 2vw;
  }
  div.rowFour h2 {
    font-size: 9vw;
  }
  div.rowFour h3 {
    font-size: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 8vw;
    line-height: 10vw;
  }
  div.rowFour img#orderNow {
    margin-bottom: 8vw;
  }
}
