.mainContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16vw 1fr 2fr 1fr 16vw;
      grid-template-columns: 16vw 1fr 2fr 1fr 16vw;
}

div.login {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-color: #1a1a1a;
  border-radius: 20px;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes slideRight {
  0% {
    left: 0vw;
  }
  100% {
    left: 150vw;
  }
}

@keyframes slideRight {
  0% {
    left: 0vw;
  }
  100% {
    left: 150vw;
  }
}

fieldset#login {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

fieldset#login > legend {
  color: #fff;
  text-align: center;
  font-size: 3.3vw;
  padding-bottom: 5vh;
  padding-top: 2vh;
}

fieldset#login label {
  display: block;
  color: #fff;
  font-size: 1.5vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

fieldset#login input#userName,
fieldset#login input#password {
  width: 20vw;
  height: 2vw;
  border-radius: 7px;
}

div.signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3vw;
  margin-bottom: 3vh;
}

div.signIn > a#createAccountLink {
  font-size: 1vw;
  text-decoration: underline;
  color: #fff;
  margin-bottom: 3vh;
}

div.signIn > input {
  width: 10vw;
  margin-bottom: 3vh;
}
