div.createAccount {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  display: none;
  position: relative;
  animation-name: appearBottom;
  animation-duration: 1s;
}
@keyframes appearBottom {
  0% {
    top: 100vh;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    top: 0vh;
    opacity: 1;
  }
}
fieldset#createAccount {
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5vh;
  background-color: #1a1a1a;
  margin: 2vw 10vw 5vw 10vw;
  border-radius: 25px;
  color: #fff;
  > legend {
    text-align: center;
    padding-top: 5vh;
    font-size: 3.5vmin;
  }
}
fieldset#createAccount div.column1 {
  order: 1;
  width: 20%;
}
fieldset#createAccount div.column2 {
  order: 2;
  width: 20%;
}

fieldset#createAccount label {
  display: block;
  padding-top: 2vh;
  padding-bottom: 1vh;
  font-size: 2vmin;
}
fieldset#createAccount input.input {
  width: 100%;
  padding-top: 0;
  margin-bottom: 3vh;
  border: 0;
  height: 3vh;
  border-radius: 5px;
}
input#btnCreateAccount {
  margin-top: 5vmin;
  // float: left;
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
}
div.createAccount input#userName {
  margin-bottom: 8vmin;
}
a#backToSignIn {
  font-size: 2vmin;
  color: #fff;
}
