html {
  background-color: #7a7a7a;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 16px)[7] 1fr;
      grid-template-columns: repeat(7, 1fr 16px) 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 6vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

img#companyLogo {
  margin-left: 1vw;
  width: 95%;
}

div.nav {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.home {
  height: 100%;
  width: 30%;
}

a#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #1a1a1a;
}

div.home :hover {
  border-radius: 10px;
  background-color: #0d8841;
}

div.menu {
  width: 30%;
  height: 100%;
}

div.menu :hover {
  border-radius: 10px;
  background-color: #0d8841;
}

div.catering {
  width: 30%;
  height: 100%;
}

div.catering :hover {
  border-radius: 10px;
  background-color: #0d8841;
}

div.action {
  -ms-grid-column: 11;
  -ms-grid-column-span: 5;
  grid-column: 11 / 16;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

img#createAnOrder {
  width: 11vw;
}

img#viewCart {
  width: 3vw;
}

.lowerContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 50% 40%;
      grid-template-columns: 10% 50% 40%;
}

img#bottomMenuImg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}

div.lowerNav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.lowerNav > ul {
  padding-top: 5vw;
  list-style: none;
  font-size: 1.5vw;
}

div.lowerNav > ul > li {
  margin-bottom: 5vw;
}

div.lowerNav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

div.rewards {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img#btnRewards {
  width: 100%;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  background-color: #1a1a1a;
}

footer > p {
  font-size: 1.3vw;
  color: #0d8841;
  padding-left: 2vw;
  letter-spacing: 0.1vw;
}

div.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img#xicon {
  width: 2vw;
}
