@media (min-width: 641px) {
  p {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-transform: scaleX();
        -ms-transform: scaleX();
            transform: scaleX();
  }
}

header {
  background-color: gray;
  padding: 5px;
  color: black;
}
